html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, rgb(206, 190, 229), rgb(185, 210, 219), rgb(242, 235, 221));
  height: 100vh;
}

.submitFormWrap {
  width: 400px;
  height: 500px;
  border: 3px solid rgba(117, 147, 171, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

label {
  font-size: large;
  font-size: 20px;
}

span {
  display: block;
}

.submitForm {
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
  width: 100%;
}

.agree {
  display: block;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.labelAgree {
  margin-left: 10px;
  width: 10%;
}

.submitButton {
  margin-top: 25px;
}

input[type='submit'] {
  background-color: #9bbeca;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: #fff;
  font-size: larger;
}

input[type='submit']:hover {
  background-color: #b6b0d9;
}

.cardField {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 0;
}

.card {
  width: 350px;
  height: 130px;
  background-color: #ede9dd;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-right: 10px;
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
}

.errors {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
}

.formTogglebutton {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.toggleButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.toggleButton {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
  margin: 0;
  vertical-align: top;
  background: #a0bccf;
  box-shadow: 0px 4px 4px rgba(15, 85, 98, 0.25), 0px 4px 4px rgba(5, 7, 98, 0.25);
  border-radius: 190px;
  border: 1px solid;
  border-top: none;
  border-image-source: linear-gradient(0deg, #001865, #001568),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton::after {
  content: '';

  display: inline-block;
  position: absolute;
  left: 6px;
  top: 5px;

  width: 20px;
  height: 20px;
  background: #598aaa;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 50%;

  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton:checked::after {
  transform: translateX(22px);
  background: #a291ce;
}
.toggleButton:checked {
  background: #533e8c;
}
